# http://yann.lecun.com/exdb/mnist/

In [8]:
import pandas as pd

In [1]:
def convert(IMAGEFILE, LABELFILE, OUTPUTFILE, n):
    f = open(IMAGEFILE, "rb")
    o = open(OUTPUTFILE, "w")
    l = open(LABELFILE, "rb")

    f.read(16)
    l.read(8)
    images = []

    for i in range(n):
        image = [ord(l.read(1))] ## Look here! ord() function does the magic
        for j in range(28*28):
            image.append(ord(f.read(1))) ## Look here! ord() function does the magic
        images.append(image)

    for image in images:
        o.write(",".join(str(pix) for pix in image)+"\n")
    f.close()
    o.close()
    l.close()

In [2]:
convert("train-images-idx3-ubyte", "train-labels-idx1-ubyte", "train.csv", 60000)

In [4]:
convert("C:/xlxlxlx/lxxl/t10k-images-idx3-ubyte", "t10k-labels-idx1-ubyte", "test.csv", 10000)

In [10]:
TEST = pd.read_csv('test.csv', header=None)

In [12]:
TEST.shape

(10000, 785)

In [13]:
TEST.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
TEST.head().iloc[0:1]

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0